html {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
}

#map {
	/*height: 600px;*/
	height: 100%;
}

.bordure {
	border: 2px solid #B0C6C6;
}

#logo {
	left: 6px;
	padding: 4px;
	position: absolute;
	top: 7px;
	z-index: 1002;
	width: 60px;
}

#logo a {
	border-bottom: none;
}

.image-logo {
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 4px;
	max-height: 60px;
	max-width: 90px;
}

#zone-chargement-point {
	display: none;
	position: absolute;
	left: 120px;
	top: 11px;
	z-index: 1002;
	width: 160px;
	height: 36px;
	padding: 17px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 4px;
}

#img-chargement {
	float: left;
	margin-right: 5px;
}

#zone-infos {
	display: none;
	position: absolute;
	font-size: 1.1em;
	bottom: 10px;
	left: 50%;
	width: 360px;
	margin-left: -180px;
	z-index: 1002;
	height: 20px;
	padding: 5px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 4px;
}

#info-taxons, #info-observations, #info-stations {
	display: none;
}

.leaflet-topleft-custom {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	top: 90px;
	padding-top: 10px;
}

.leaflet-topleft-custom .leaflet-control {
	margin-bottom: 10px;
}

.leaflet-div-icon {
	background: transparent;
	border: none;
}

.leaflet-marker-icon .number{
	position: relative;
	top: -37px;
	font-size: 12px;
	width: 25px;
	text-align: center;
}

.leaflet-popup-scrolled {
	border-bottom: none !important;
	border-top: none !important;
	overflow-x: hidden !important;
}

.popup-obs {
	width: 400px;
	font-family: "Trebuchet MS", Arial, sans-serif; /* @TODO trouver mieux */
}

.titre-obs {
	font-size: 1.3em;
	font-weight: bold;
	padding: 4px;
}

.titre-obs-details {
	font-weight: normal;
}

.liste-obs {
}

.obs {
	min-height: 105px;
	padding-top: 10px;
	border-top: solid #f0f0f0 1px;
}

.image-obs {
	float: left;
	height: 96px;
	width: 96px;
}

.details-obs {
	width: 285px;
	padding-left: 105px;
}

.taxon-obs {
	font-weight: bold;
	font-size: 1.1em;
}

.date-obs {
	color: #606060;
	margin-top: 2px;
}

.lieu-obs {
	color: black;
	margin-top: 2px;
	min-height: 25px;
	line-height: 1.3em;
}

.auteur-obs {
	color: #606060;
	margin-top: 2px;
}
